<div class="container">
    <h1>Character List</h1>
    <div>
        <ngx-datatable class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [reorderable]="reorderable"
            [externalSorting]="true"
            (sort)="onSort($event)"
            (activate)="onActivate($event)">
        </ngx-datatable>
    </div>
</div>