<div class="container">
    <h1>Character List</h1>
    <div>
        <!-- <table class="table table-dark table-striped table-hover">
            <app-sortable-header></app-sortable-header>
            <thead class="table-light">
                <tr>
                    <th>UserName</th>
                    <th>UserName</th>
                    <th>UserName</th>
                    <th>UserName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let character of characters$ | async">
                    <th>{{character.userName}}</th>
                    <td>{{character.totalLevel}}</td>
                    <td>{{character.totalExperience}}</td>
                    <td>{{character.firstTracked | date : 'mediumDate'}}</td>
                </tr>
            </tbody>
        </table> -->

        <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [reorderable]="reorderable"
            [externalSorting]="true"
            (sort)="onSort($event)">
      </ngx-datatable>
    </div>
</div>
