/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(52, 56, 59);
    color: white;
}

.table > thead > tr > :first-child {
    border-top-left-radius: 0.25rem;
}

.table > thead > tr > :last-child {
    border-top-right-radius: 0.25rem;
}

.table > tbody > tr:last-of-type > :first-child {
    border-bottom-left-radius: 0.25rem;
}

.table > tbody > tr:last-of-type > :last-child {
    border-bottom-right-radius: 0.25rem;
}

.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
{ 
   cursor: pointer;
   background-color: #002761
}