<div *ngIf="character">
    <h1>{{character.userName}}</h1>

    <div class="row">
        <div class="col-9">            
            <tabset>
                <tab heading="Skills">
                    <h3>Skill Changes</h3>                
                    <tabset>                        
                        <tab *ngFor="let agg of character?.statsChange" [heading]="agg.frequency.name">                            
                            <app-skill-list [stats]="agg.model"></app-skill-list>
                        </tab>
                    </tabset>
                </tab>
                
                <tab heading="Bosses">
                    <h3>Boss Totals</h3>
                    <app-boss-list class="col-9 mb-5" [bosses]="character.activities.bosses"></app-boss-list>
                    <h3>Boss Changes</h3>
                    <tabset>
                        <tab *ngFor="let agg of character?.activitiesChange" [heading]="agg.frequency.name">                            
                            <app-boss-list [bosses]="agg.model.bosses"></app-boss-list>
                        </tab>
                    </tabset>
                </tab>
            </tabset>
        </div>
        <app-skills-grid class="col-3" [stats]="character.stats"></app-skills-grid>
    </div>
</div>