<div class="container">    
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.attack" skillName="Attack"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.hitpoints" skillName="Hitpoints"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.mining" skillName="Mining"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.strength" skillName="Strength"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.agility" skillName="Agility"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.smithing" skillName="Smithing"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.defence" skillName="Defence"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.herblore" skillName="Herblore"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.fishing" skillName="Fishing"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.ranged" skillName="Ranged"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.thieving" skillName="Thieving"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.cooking" skillName="Cooking"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.prayer" skillName="Prayer"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.crafting" skillName="Crafting"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.firemaking" skillName="Firemaking"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.magic" skillName="Magic"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.fletching" skillName="Fletching"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.woodcutting" skillName="Woodcutting"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.runecrafting" skillName="Runecrafting"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.slayer" skillName="Slayer"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.farming" skillName="Farming"></app-skill-cell>
    </div>
    <div class="row">
        <app-skill-cell class="col-4" [skill]="stats.construction" skillName="Construction"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.hunter" skillName="Hunter"></app-skill-cell>
        <app-skill-cell class="col-4" [skill]="stats.overall" skillName="Total"></app-skill-cell>
    </div>
</div>