<!-- <div class="px-4 py-5 my-5 text-center"> -->
    <ngx-charts-line-chart [view]="view"        
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="true"
        [results]="multi | async"
        [autoScale]="true"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
    <ngx-charts-legend class="chart-legend"
        [data]="legendData"
        [colors]="chartColors"
        (labelClick)="onSelect($event)">        
    </ngx-charts-legend>
<!-- </div> -->


<!--[scheme]="colorScheme"-->
